@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,600;1,8..60,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Serif 4', Georgia, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fb;
}

code {
  font-family: 'Source Code Pro', Consolas, monospace;
}
